body {
	background-color: #fff;
	color: #888;
	font-family: 'Avenir Next Pro', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

h1, h2 {
	color: #5DAF86;
	font-weight: 600;
	margin: 0;
	font-family: 'Avenir Next Pro', sans-serif;
}

h1 {
	font-size: 36px;
	margin-top: 20px;
	text-align: left;
}

h2 {
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: left;
}

#main {
	max-width: 800px;
	margin: 0 auto;
	padding: 30px;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

#name-container {
	flex-basis: 50%;
}

#photo-container {
	flex-basis: 50%;
	text-align: right;
}

#photo-container img {
	height: auto;
	width: 6cm;
}

#university {
	margin-top: 50px;
	text-align: Left;
	font-size: 18px;
}
